<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box">
            <h4>{{site.data.contributors.other-contributors.header}}:</h4>
            <ul>
                {% for person in
                site.data.contributors.other-contributors.people %}
                <li>{{person.name}}</li>

                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2 animate-box">
            <div align="justify">
                <h4>{{site.data.contributors.grad-contributors.header}}:</h4>
                <ul>
                    {% for person in
                    site.data.contributors.grad-contributors.people %}
                    <li>{{person.name}}</li>

                    {% endfor %}
                </ul>
                <h4>
                    {{site.data.contributors.undergrad-contributors.header}}:
                </h4>
                <ul>
                    {% for person in
                    site.data.contributors.undergrad-contributors.people %}
                    <li>{{person.name}}</li>

                    {% endfor %}
                </ul>
                <br />
                <h3>
                    {{site.data.contributors.closing-text.l1}}<br />
                    <br />
                    {{site.data.contributors.closing-text.l2}}
                </h3>
                <br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>
