<footer>
  <div id="footer" style="background-color:#01DF74; position: fixed; bottom: 0;  width:100%;">
        <div class="col-md-12 text-center">
          <p style="text-align: center; font-size: 12px"><font color="white">Copyright 2022-2023, The Crypto Done Right Foundation, All Rights Reserved. </br> The Crypto Done Right Foundation is a 501(c)(3) tax-exempt public charity. Donations are tax deductible as allowed by law. All technical publications and editorials are intended to be generally helpful and beneficial to the IT community at large but are not any recommendations for any specific undertaking, solution, or project. The Crypto Done Right Foundation makes no warranties with respect to the use of the information or opinions provided herein and disclaims any liability for its use.</p>

          <!-- <p style="text-align: center; font-size: 12px"></font></p> -->
        </div>
  </div>
</footer>
