<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}

    <section id="tags-view">
      <div class="container">
        <h5><a href="{{ site.baseurl }}/blog"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to all posts</a></h5>

        {% if page.name %}
        <h1>Posts by {{ page.name }}</h1>
        {% else %}
        <h1>Posts tagged with "{{ page.tag-name }}"</h1>
        {% endif %}
        <!-- {{ content }} -->
        {% for post in site.posts %}
        {% if post.type == "blog" %}
        {% if post.tags contains page.tag-name %}
        <div class="row blog-row">
          <div class="col-md-3 post-img">
            {{ post.img_tag }}
          </div>
          <div class="col-md-9 post-area">
            <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
            <p class="post-date">{{ post.date | date: "%-d %B %Y" }}</p>
            <p>
              {{ post.content | strip_html | truncatewords: 50 }}
            </p>
          </div>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}

          <ul class="social-media-list">
            <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
          </ul>
        </div>
      </div>
    </section>

    {% include get_connected.html %}

    {% include footer.html %}
    {% include js.html %}

    </body>
</html>
